*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background-image: url("../img/fundoCad.png");
    background-size: cover;
	background-repeat: no-repeat;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	overflow-x: hidden;
}
/*Barra de acessibilidade*/
#acessibilidade{
    width: 100%;
    height: auto;
    background-color: #ff000000;
    padding-top: 20px;
    padding-bottom: 40px;
}
#atalhos{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    list-style: none;
    padding-left: 4%;   
}
#atalhos li{
    display: inline;
    padding-left: 4%;
    font-size: 15px;
}
#atalhos li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#atalhos li a:hover{
    color: #a84b4b;
}
#contraste:hover{
    color: #a84b4b;
}
#pgacess{
    padding-left: 30%;
}
.fonte{
    padding-left: 5px;
	font-style: italic;
	font-weight: bold;
}
/*FORMULÁRIO CONSULTA*/
input, select{
    width: 40%;
    height: 35px;
    background-color: #F4D7D7;
    color: black;
    border-radius: 20px;
}
#procurar{
    margin-left: 30%;
    text-align: center;
}
#seta_titulo{
    margin-left: 5%;
    margin-bottom: 5%;
}
#consulta{
    padding-left: 1%;
    color: #B20000;
    border-bottom: 6px solid #b200007a;
    font-size: 25pt;
    font-weight: bold;
}
#botaoVoltar{
    width:20px;
}
#icone_pesquisa{
    margin-left: 75%;
    margin-top: -5%;
    position: relative;
}

/* TABELA PROFESSORES*/
#tabela_prof{
    width: 900px;
    margin-top: 3%;
    margin-left: 16%;
    text-align: center;
    background-color: rgba(135, 207, 252, 0.3);
    border-collapse: collapse;
    border-radius: 7%;
}
table td{
    border: 1px solid rgb(0, 0, 0);
    padding: 1%;
}
table th{
    border: 1px solid black;
    padding: 1%;   
    font-style: italic;
}
table tr:first-child td {
    border-top: 0;
}
table tr th:first-child {
    border-top: 0;
}
table tr th:first-child {
    border-left: 0;
}
table tr th:last-child {
    border-top: 0;
}
table tr th:last-child {
    border-right: 0;
}
table tr td:first-child {
    border-left: 0;
}
table tr:last-child td {
    border-bottom: 0;
}
table tr td:last-child {
    border-right: 0;
}
/* RODAPÉ*/
#rodape{
    width: 100%;
    height: 200px;
    background-color: #ffffff00;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.384);
    text-align: center;
    margin-top: 10%;
}
/*Responsividade*/

@media screen and (max-width: 1050px){
    #tabela_prof{
        width: 750px; 
    }
}

@media screen and (max-width: 1000px){
	#tabela_prof{
        width: 650px; 
    }
}

@media screen and (max-width: 900px){
	#tabela_prof{
        width: 550px; 
    }
}

@media screen and (min-width: 700px) and (max-width: 820px) {
    
}
@media screen and (max-width: 540px){
	#tabela_prof{
        width: 380px; 
    }
}


@media screen and (max-width: 414px){
    #tabela_prof{
        width: 280px; 
    }
    #logopreto{
         width: 290px; 
    }
    #icone_pesquisa{
        margin-left: 250px;
        margin-top: -40px;
    
    }
    #procurar {
        margin-left: 10%;
        
    }
}
@media screen and (max-width: 375px){
    #tabela_prof{
        width: 250px; 
    }
    #logopreto{
        width: 270px;
        margin-right: 10% ; 
   }
}
@media screen and (max-width: 320px){
    #tabela_prof{
        width: 400px; 
    }
}
@media screen and (max-width: 280px){
	#tabela_prof{
        width: 270px; 
    }
    #logopreto{
        width: 270px;
        margin-left: 15%; 
   }
}

