*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background-image: url("../img/fundo2.png");
	background-repeat: no-repeat;
    background-size: 1950px 1410px;
	background-color: rgb(255, 104, 104);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	overflow-x: hidden;
}

/*Barra de acessibilidade*/
#acessibilidade{
    width: 100%;
    height: auto;
    background-color: #ff000000;
    padding-top: 20px;
    padding-bottom: 4px;
}
#atalhos{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    list-style: none;
    padding-left: 4%;   
}
#atalhos li{
    display: inline;
    padding-left: 4%;
    font-size: 15px;
}
#atalhos li a{
    color: #fff;
    text-decoration: none;
}
#atalhos li a:hover{
    color: #4A0202;
}
#contraste:hover{
    color: #4A0202;
}
#pgacess{
    padding-left: 30%;
}
.fonte{
    padding-left: 5px;
	font-style: italic;
	font-weight: bold;
}

/*Conteúdo*/
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
	flex-direction: row-reverse;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:20rem;
    padding-right: 14%;
	position: absolute;
}
.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: left;
}
form{
	width: 360px;
}
.login-content h2{
	margin: 15px 0;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	font-size: 1.3rem;
	padding-bottom: 6px;
	border-bottom: 6px solid #ffffff7e;
	width: 80px;
	margin-bottom: 30px;
}

.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #ffffff7e;
}

.login-content .input-div.one{
	margin-top: 0;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: -20px;
	top: 50%;
	transform: translateY(-50%);
	color: rgba(255, 255, 255, 0.486);
	font-size: 18px;
	transition: .3s;
	font-family: Arial, Helvetica, sans-serif;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #a11414;
	transition: .4s;
}
.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}
.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.1rem;
	color: rgba(255, 255, 255, 0.911);
}
.input-div.pass{
	margin-bottom: 4px;
}
#eye{
	position: absolute;
	right: 15px;
	transform: translate(0,-50%);
	top: 50%;
	cursor: pointer;
}
.fa{
	font-size: 20px;
	color: #ffffff;
}
#esqueceu{
	padding-top: 10%;
	padding-bottom: 7%;
	display: block;
	text-align: left;
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-size: 0.9rem;
	transition: .3s;
}
#esqueceu:hover{
	color: #fd8e8e;
}
#entrar1{
	padding-left: 6%;
}
.btn{
	display: block;
	width:45%;
	height: 45px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #4A0202, #811717, #491515);
	background-size: 200%;
	font-size: 1rem;
	color: #fff;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
	font-weight:bolder;
}
.btn:hover{
	background-position: right;
}
#rodape {
	background-color: rgba(0, 0, 0, 0);
	color: rgba(0, 0, 0, 0.384);
	position: absolute;
	bottom:-200px;
	width:100%;
	height:200px;
	margin: auto auto;
	padding: 10px 5px;
	text-align: center;
  }

/*RESPONSIVIDADE*/
@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.wave{
		display: none;
	}

	.login-content{
		justify-content: center;
	}
}