/*CONTRASTE*/
.contrast .btn{
    background: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0) !important;
    border: none !important;
}
.contrast h1{
    border-bottom: 6px solid #ffffff;
}

.contrast #consulta{
    border-bottom: 6px solid #ffffff;
}
.contrast #tabela_prof{
    background-color: white;
    color: black;
}
.contrast #email{
    border: none;
}
.contrast #senha{
    border: none;
}
.contrast #icone_pesquisa{
    filter: grayscale(1);
}
.contrast #usuario{
    filter: grayscale(1);
}
.contrast #tela_progresso{
    filter: grayscale(1);
}
.contrast #tela_progresso{
    filter: grayscale(1);
}
.contrast #avancar{
    background: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0) !important;
    border: none !important;
}
.contrast .num{
    background-color: white;
    border: 2px solid white;
    text-decoration-color: white;
    }
    .contrast #logopreto{
    opacity: 1;
    filter:invert(100);
    }
    .contrast,
    .contrast nav,
    .contrast div,
    .contrast li,
    .contrast ol,
    .contrast header,
    .contrast footer,
    .contrast section,
    .contrast main,
    .contrast aside,
    .contrast article {
    background: black !important;
    color: white !important;
    }
    .contrast h1,
    .contrast h2,
    .contrast h3,
    .contrast h4,
    .contrast h5,
    .contrast h6,
    .contrast p,
    .contrast label,
    .contrast strong,
    .contrast em,
    .contrast cite,
    .contrast q,
    .contrast i,
    .contrast b,
    .contrast u,
    .contrast span {
    color: white !important;
    }
    .contrast a{
    color: yellow !important;
    }
    .contrast button
    {
    background: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0) !important;
    border: none !important;
    }
    .contrast input[type=button],
    .contrast input[type=reset],
    .contrast input[type=submit] {
    background: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0) !important;
    border: none !important;
    }
    .contrast input[type=text]{
    background-color: white; 
    color: white;
    }
    .contrast #login{
    background-color: rgba(255, 255, 255, 0) !important;  
    color: white;
    border-color: rgb(255, 255, 255);
    }  
    .contrast .required:after{
        content: " *";
        color: yellow;
        font-weight:50;
        font-size: 10pt;
    }
    .contrast input[type=password],
    .contrast input[type=url],
    .contrast input[type=search],
    .contrast input[type=email],
    .contrast input[type=tel],
    .contrast input[type=date],
    .contrast input[type=month],
    .contrast input[type=week],
    .contrast input[type=datetime],
    .contrast input[type=datetime-local],
    .contrast textarea,
    .contrast input[type=number]
    .contrast img.on-contrast-force-gray {
    filter: grayscale(100%) contrast(120%);
    }
    .contrast img.on-contrast-force-white {
    filter: brightness(0) invert(1);
    }